.app {
  max-width: 1024px;
  margin: auto;
  position: relative;
  justify-content: center;

  &__title {
    color: var(--black-color);
  }

  &__cards {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    justify-content: center;
  }

  &__form-player {
    z-index: 40px;
  }
}
